body{
	margin: 0px;
}
.navbar{
	background: gray;
	height:10vh;


}
.top-list{
	background-color: gray;
	display: flex;
	list-style: none;
	font-size: 2em;
	width: auto;
	margin: 0px;
	padding:0px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}
.top-item-login{
	margin-left:auto;
}
li{
	color:whitesmoke;
	padding:25px;
	text-decoration: none;

}
a{
	text-decoration: none;
	color: whitesmoke;
	
}

a:visited{
	text-decoration: none;
	color: whitesmoke;
}

li:hover{
	background-color: black;
}





/* Cover */


.container-cover{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40vh;	
}
.container-about{
	display: flex;
	height: 50vh;
	background-color: #eae0e0;
	border-top: 	#ddbf92;
	border-bottom: 	#ddbf92;
	border-style:solid;
	border-width: 1vh;
	border-left: none;
	border-right: none;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
.toggle-button{
	position:absolute;
	top: 1.5rem;
	right: 1rem;
	display: none;
	flex-direction:column;
	justify-content: space-between;
	width:30px;
	height:21px;
}

.toggle-button .bar{
	height:3px;
	width: 100%;
	background: white;

}

.container-pizza{
	display: flexbox;
	height: auto;
	background-color: #fff1da;
	border: black;
	border-style: double;
	border-width: 2vh;	


}
#title-pizza{
	font-size: 10vh;
	font-family: 'Sriracha', cursive;
	text-align: center;
	text-decoration: underline;
	text-underline-position: under;
	
}
.pizza-holder{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 10vh;
	justify-items: center;

	
}
.pizza{
	height: 50vh;
	width: 40vh;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	
}
#quote{
	text-indent: 5em;
}
.add-product{
	margin-top:3vh;
}
@media only screen and (max-width:600px){
	.toggle-button{
		display: flex;
	}
	.top-item{
		/*display: none;*/
	}
	.top-list{
		width:100%;
		flex-direction: column;
	}
	.top-item-login{
		display: none;
		margin-left:0;

	}
	.top-item{
		width: 100%;
		left-margin:0;
		display: none;
	}
	.navbar{
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		width: auto;
	}
	.container-about{
		font-size: 1.5vh;
		padding:30px;
		text-align: center;
	}

	

}